{{template "base" .}}

{{define "title"}} {{.Name}} {{end}}

{{define "body"}}
    <!-- Header -->
    <header class="header shop">
        {{template "preloader" .}}
        <!-- Header Inner -->
        <div class="header-inner">
            <div class="container">
                <div class="cat-nav-head">
                    <div class="row">
                        <div class="col-12">
                            <div class="menu-area">
                                {{template "menu" .}}	
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Header Inner -->
    </header>
    <!--/ End Header -->

    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="bread-inner">
                        <ul class="bread-list">
                            <li><a href="/">Home<i class="ti-arrow-right"></i></a></li>
                            <li class="active"><a href="{{.Link}}">{{.Name}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <section id="contact-us" class="contact-us section">
		<div class="container">
				<div class="contact-head">
					<div class="row">
						<div class="col-lg-12 col-12">
							<div class="single-head">
								<h1 style="text-align: center;">{{.Name}}</h1>
                                <br>
                                <p>{{.Paragraph1}}</p>
                                <br>
                                <h6>{{.Question1}}</h6>
                                <p>{{.Answer}}</p>
                                <br>
                                <h6>{{.Question2}}</h6>
                                <p>{{.Answer}}</p>
                                <br>
                                <h6>{{.Question3}}</h6>
                                <p>{{.Answer}}</p>
                                <br>
                                <h6>{{.Question4}}</h6>
                                <p>{{.Answer}}</p>
                                <br>
                                <h6>{{.Question5}}</h6>
                                <p>{{.Answer}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>
	<!--/ End Contact -->
    
    {{template "footer" .}}
{{end}}